@charset "utf-8";
*{
	padding: 0;
	margin: 0;
}
html{
	width: 100%;
	height: 100%;
}
body{
	width: 100%;
	height: 100%;
	background: url(img/beijing3.png) no-repeat;
	position: absolute;
	background-size: 100% 100%;
	overflow: hidden;
}

/*.shui{
	width: 100%;
	margin: 0;
	position: relative;
}*/



.qianting11{
			position: absolute;
			width: 100px;
			height: 50px;
			
			bottom: 250px;
			animation: run11 8s linear both infinite;
		}
		@keyframes run11{
			from{transform: translateX(20px);}
			to{transform: translateX(1200%);}
		}
.yulei{
	position: absolute;
			width: 100px;
			height: 55px;
			left: 100px;
			bottom: 250px;
			animation: runyu 8s linear both infinite;
		}
		@keyframes runyu{
			from{}
			to{transform: translate(680px,-100px);}
	
}
.yulei2{
	position: absolute;
			width: 100px;
			height: 50px;
			left: 500px;
			bottom: 75px;
			animation: runyu2 12s linear both infinite;
		}
		@keyframes runyu2{
			from{}
			to{transform: translateY(-450px)}
}

.baoz1,.boat1{
	width: 150px;
	height: 100px;
	position: absolute;
	top: 170px;
	right: 468px;
}
.feiji{
			position: absolute;
			width: 110px;
			height: 60px;
			right: 20px;
			top: 80px;
			animation: runfei 12s linear both infinite;
		}
		@keyframes runfei{
			from{}
			to{transform: translateX(-770px);}
		}
.baoz4{
	position: absolute;
	width: 100px;
	height: 70px;
	top: 80px;
	left: 535px;
	animation: runfei2 5s linear both infinite;
}
  @keyframes runfei2{
  	 from{}
  	 to{transform: translate(-350px,120px);}
  }

.qianting22{
	       position: absolute;
			width: 150px;
			height: 60px;
			bottom: 200px;
			
			overflow: hidden;
			animation: run22 10s linear both infinite;
			
		}
		@keyframes run22{
			from{transform: translateX(5px);}
			to{transform: translateX(1200%);}
		}

.qianting33{
	position: absolute;
			width: 100px;
			height: 50px;
			bottom: 120px;
			animation: run33 10s linear both infinite;
			overflow: hidden;
		}
		@keyframes run33{
			from{transform: translateX(10px);}
			to{transform: translateX(1200%);}
		}

.qianting44{
	position: absolute;
	left: 350px;
			width: 100px;
			height: 50px;
			bottom: 80px;
			animation: run44 13s linear both infinite;
			overflow: hidden;
		}
		@keyframes run44{
			from{transform: translateX(15px);}
			to{transform: translateX(1200%);}
		}


 .music{
             	width: 50px;
             	position: absolute;
             	top: 10px;
             	right: 50px;
             	/*animation: circle 2s linear both infinite;*/
             }
             /*@keyframes up-down{
                0%{}
                50%{bottom: 10%;}
                100%{}
                
             }*/
             /*@keyframes circle{
             	from{}
             	to{transform: rotate(360deg);}
             }*/
.text0{
	left: 10%;
	top: 10%;
	font-family: "黑体";
	color: black;
	font-weight: 10px;
    font-size: 40px;
	animation: ld 1s linear alternate;
	
	position: absolute;
}

.text1{
	width: 80%;
	height: 90%;
	left: 10%;
	top: 20%;
	font-family: "黑体";
	color: whitesmoke;
	font-weight: 10px;
    font-size: 20px;
	position: absolute;
}
.t1{
	top: 10%;
	position: absolute;
	animation: t11 0.5s linear alternate;
}
.t2{
	top: 15%;
	position: absolute;
	animation: t22 1s linear alternate;
}
.t3{
	top: 20%;
	position: absolute;
	animation: t33 1.5s linear alternate;
	
}
.t4{
	top: 25%;
	position: absolute;
	animation: t44 2s linear alternate;
}
.t5{
	top: 30%;
	position: absolute;
	animation: t55 2.5s linear alternate;
}
.t6{
	top: 35%;
	position: absolute;
	animation: t66 3s linear alternate;
}
.t7{
	top: 40%;
	position: absolute;
	animation: t77 3.5s linear alternate;
}
.t8{
	top: 45%;
	position: absolute;
	animation: t88 4s linear alternate;
}
.t9{
	top: 50%;
	position: absolute;
	animation: t99 4.5s linear alternate;
}
.t10{
	top: 55%;
	position: absolute;
	animation: t10 5s linear alternate;
}
@keyframes ld{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes t11{
	0%{opacity: 0;transform: translateY(-200px);}
	50%{opacity: 0;transform: translateY(-200px);}
	100%{opacity: 1;}
}
@keyframes t22{
	0%{opacity: 0;transform: translateX(-200px);}
	66.66%{opacity: 0;transform: translateX(-200px);}
	100%{opacity: 1;}
}
@keyframes t33{
	0%{opacity: 0;transform: translateY(500px);}
	75%{opacity: 0;transform: translateY(500px);}
	100%{opacity: 1;}
}
@keyframes t44{
	0%{opacity: 0;transform: translateX(1000px);}
	80%{opacity: 0;transform: translateX(1000px);}
	100%{opacity: 1;}
}
@keyframes t55{
	0%{opacity: 0;transform: translateY(-200px);}
	83.33%{opacity: 0;transform: translateY(-200px);}
	100%{opacity: 1;}
}

@keyframes t66{
	0%{opacity: 0;transform: translateX(1000px);}
	87.5%{opacity: 0;transform: translateX(1000px);}
	100%{opacity: 1;}
}
@keyframes t77{
	0%{opacity: 0;transform: translateY(500px);}
	88.88%{opacity: 0;transform: translateY(500px);}
	100%{opacity: 1;}
}
@keyframes t88{
	0%{opacity: 0;transform: translateX(-200px);}
	90%{opacity: 0;transform: translateX(-200px);}
	100%{opacity: 1;}
}
@keyframes t99 {
	0%{opacity: 0;transform: translateY(-200px);}
	90.101%{opacity: 0;transform: translateY(-200px);}
	100%{opacity: 1;}
}
@keyframes t10{
	0%{opacity: 0;transform: translateX(1000px);}
	91.66%{opacity: 0;transform: translateX(1000px);}
	100%{opacity: 1;}
}