@charset "utf-8";
*{
	padding: 0px;
	margin: 0px;
}
html{
	height: 100%;
}
body{
	height: 100%;
	background: url(../img/20120318133719_Zjfew.jpeg);
	background-size: 100% 150%;
}

@media only screen and (min-width:800px ) {
	.box{
		width: 500px;
		height: 650px;
		overflow: hidden;
  		margin: 0px auto;
  	    position: relative;
	}
}
@media only screen and (max-width: 800px) {
	.box{
		height: 100%;
		width: 100%;
		overflow: hidden;
		position: relative;
	}
}
.content {
  	width: 1000%;
  	height: 100%;
  	position: absolute;
  }
.page {
  	height: 100%;
  	width: 10%;
  	position: relative;
  	float: left;
  }
   .page img{
  	position: absolute;
  }
  .page span{
  	position: absolute;
  }
  
  .page1 {
  	background-color: orange;
  
  }
   .page2 {
  	background-color: aqua;
  	
  }
  .page3 {
  	background-color: indianred;
  	
  }
  .page4 {
  	background-color: paleturquoise;
  }
  .page5 {
  	background-color: aqua;
  }
  .page6 {
  	background-color: violet;
  }
  .page7 {
  	background-color: olive;
  }
  .page8 {
  	background-color: black;
  }
  .page9 {
  	background-color: palevioletred;
  }
  .page10 {
  	background-color: palegreen;
  }
  /*第一页*/
  .page1-tb4{
  	width: 100%;
  	height: 100%;
  }
  .page1-text1{
  	font-size: 60px;
    font-weight: bold;
    font-family: "微软雅黑" ;
    color:darkviolet;
    top:6%;
    left: 2%;
    animation: xuanzhuan1 3s linear both infinite;
  }
  .page1-text2{
  	font-size: 70px;
    font-weight: bold;
    font-family:arial;
    color:yellowgreen;
    top:20%;
    left:30%;
    animation: suofang1 2s linear both infinite;
    text-shadow: 4px 4px 5px #00008B;
  }
   .page1-text3{
  	font-size: 70px;
    font-weight: bold;
    font-family: "楷体";
    color:darkblue;
    top:50%;
    left:15%;
    animation: yanshe1 5s linear both infinite;
  }
   .page1-text4{
   	bottom: 10%;
  	font-size: 30px;
    font-weight: bold;
    font-family:castellar  ;
    color:orangered;
    left:15%;
  }
   .page1-text5{
  	font-size: 30px;
    font-weight: bold;
    font-family:castellar  ;
    color:orangered;
    bottom: 5%;
    left:10%;
  }
  .page1-tb1{
  	width: 50%;
    bottom: 1%;
    left: 53%;
    animation: xuanzhuan1 3s linear both infinite;
  }
  .page1-tb2{
  	width: 20%;
    top: 10%;
    right: 5%;
    animation: suofang1 3s linear both infinite;
  }
  .page1-tb3{
     top: 1%;
     left: 0%;
     animation: yundong1 5s linear both infinite;
  }
 
 /* 第二页*/
.page2-tb2{
	width: 100%;
	height: 100%;
}
	
  .page2-text1{
  	font-size: 50px;
    font-weight: bold;
    font-family: castellar;
    color:blueviolet;
    top: 3%;
    right: 5%;
    transform: rotate(8deg);
    text-shadow: 2px 2px 5px darkmagenta;
  }
  .page2-text2{
  	font-size: 40px;
    font-weight: bold;
    font-family:castellar  ;
    color:darkblue;
    top:430px;
    left:40px;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: suofang2 2s linear both infinite;
  }
  .page2-text3{
  	font-size: 40px;
  	font-style: initial;
  	color: red;
  	bottom: 58%;
  	left: 42%;
  	animation: yanshe2 5s linear both infinite;
  }
  .page2-p1{
  	width: 25%;
    top:13%;
    left:10%;
    border-radius: 20px;
    transform: rotate(-5deg);
    animation: suofang1 3s linear both infinite;
  }
  .page2-tb1{
    bottom: 5%;
    right: 5%;
     animation: xuanzhuan1 3s linear both infinite;
     transform-origin: 100% 100%;
  }
  .page2-tb3{
  	width: 25%;
  	bottom: 33%;
  	left: 3%;
  	animation: yundong2 5s linear both infinite;
  }
  /*第三页*/
 .page3-tb3{
 	width: 100%;
 	height: 100%;
 }
 .page3-text1{
  	font-size: 50px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:yellow;
    transform: rotate(5deg);
    top:50px;
    left:40px;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: suofang1 2s linear both infinite;
  }
  .page3-p1{
  	width: 35%;
    top:35%;
    left:55%;
    border-radius: 40px;
    transform: rotate(5deg);
    animation: suofang2 3s linear both infinite;
  } 
  .page3-p2{  
    top:130px;
    left:60px;
    border-radius: 50px;
    transform: rotate(-3deg);
     animation: suofang2 2s linear both infinite;
  } 
  .page3-text2{  
    top:320px;
    left:60px;
    font-size: 40px;
    font-weight: bold;
    font-family:castellar;
    color: aqua;
    text-shadow: 2px 2px 5px darkmagenta;
  }
   .page3-text3{  
    top:470px;
    left:270px;
    font-size: 40px;
    font-weight: bold;
    font-family:castellar  ;
    color:aqua;
    text-shadow: 2px 2px 5px darkmagenta;
  }
  .page3-text4{   
    bottom: 3%;
    left:40px;
    font-size: 40px;
    font-weight: bold;
    font-family:castellar  ;
    color:salmon;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: yanshe3 5s linear both infinite;
  }
  .page3-tb1{  
  	width: 30%;	
  	top: 1%;
  	right: 2%;
  	animation: up-down2 3s linear both infinite;

  }
  .page3-tb2{ 	
  	top:370px;
  	left: 40px;
  	animation: suofang1 3s linear both infinite;
  }
  /*第四页*/
  .page4-tb2{
  	width: 100%;
  	height: 100%;
  }
  
  .page4-text1{
  	font-size: 40px;
    font-weight: bold;
    font-family:castellar  ;
    color:hotpink;   
    top:5% ;
    right: 5%;
    text-shadow: 2px 2px 5px darkmagenta;
    transform: rotate(4deg);
     animation: suofang1 2s linear both infinite;
  }
  .page4-text2{ 
    bottom:60%;
    left:10%;
    font-size: 40px;
    font-weight: bold;
    font-family: "仿宋";
    color:salmon;
  }
  .page4-text3{ 
    top:20%;
    right: 7%;
    font-size: 27px;
    font-weight: bold;
    font-family:"微软雅黑";
    color:yellowgreen;
    text-shadow: 2px 2px 5px darkmagenta;
     animation: yanshe1 3s linear both infinite;
  }
  .page4-p1{    
   top: 3%;
   left: 5%;
   border-radius: 40px;
   transform: rotate(-4deg);
   animation: xuanzhuan1 2s linear both infinite;
  } 
  .page4-tb1{  
  	width: 15%;
  	bottom: 10%;
  	right: 2%;
  	animation: yundong 10s linear both infinite;
  }
  .page4-tb3{
  	width: 30%;
  	right: 3%;
  	bottom: 30%;
  }
  .page4-tb4{
  	width: 5%;
  	right: 15%;
  	bottom: 34%;
  }
  .page4-tb5{
  	width: 30%;
    right: 4%;
  	bottom: 33%;
  }
  
  /*第五页*/
 .page5-tb1{
 	width: 100%;
 	height: 100%;
 }
 .page5-tb2{
 	right: 10%;
 	top: 18%;
 	animation: suofang3 4s linear both infinite;
 }
 .page5-tb3{
 	width: 30%;
 	bottom: 15%;
 	left: 10%;
 	animation: up-down3 5s linear both infinite;
 }
  .page5-text1{
  	font-size: 35px;
    font-weight: bold;
    font-family: "宋体";
    color:cyan;  
    top:5%;
    right:1%;
    text-shadow: 2px 2px 5px darkmagenta;
    transform: rotate(8deg);
    animation: xuanzhuan2 7s linear both infinite;
  }
  .page5-text2{   
    top:38%;
    left:320px;
    font-size: 30px;
    font-weight: bold;
    font-family:castellar  ;
    color:yellow;
    text-shadow: 2px 2px 5px darkmagenta;
  }
  .page5-text3{ 
    bottom: 50%;
    left:20%;
    font-size: 30px;
    font-weight: bold;
    font-family:castellar;
    color:deeppink;
    text-shadow: 2px 2px 5px darkmagenta;
  }
  .page5-text4{   
    bottom: 10%;
    right: 5%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑" ;
    color:peru;
    text-shadow: 2px 2px 5px darkmagenta;
    transform: rotate(-5deg);
     animation: suofang1 4s linear both infinite;
  }
  .page5-p1{ 
  	width: 28%; 
    top: 10%;
    left: 10%;
    border-radius: 40px;
    transform: rotate(-5deg);
    animation: xuanzhuan2 4s linear both infinite;
  } 
  .page5-p2{ 
  	width: 36%; 
    bottom: 20%;
    right: 5%;
    border-radius: 40px;
    transform: rotate(8deg);
    animation: xuanzhuan1 7s linear both infinite;
 }
 
 /*第六页*/
.page6-tb1{ 
  	width: 100%;
    height: 100%;
  }
 .page6-tb2{
  	width: 20%;
  	bottom: 5%;
  	right: 2%;
  	animation: yundong 10s linear both infinite;
  }
  .page6-p1{   
    top:15%;
    left:5%;
    border-radius: 20px;
    animation: suofang1 3s linear both infinite;
  } 
  .page6-p2{  
    top:45%;
    right:5%;
    border-radius: 50px;
    animation: xuanzhuan1 5s linear both infinite;
  } 
  .page6-text1{   
    top:3%;
    left:3%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:palevioletred;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: right-left1 5s linear both infinite;
  }
   .page6-text2{    
    bottom: 32%;
    left: 10%;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(5deg);
    font-family:castellar  ;
    color:lawngreen;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: up-down4 4s linear both infinite;
  }
  .page6-text3{   
    top:20%;
    right: -1%;
    font-size: 30px;
    font-weight: bold;
    font-family:"楷体";
    transform: rotate(-5deg);
    color:teal;
    animation: yanshe1 5s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
  }
 /* 第七页*/
.page7-tb1{
	width: 100%;
	height: 100%;
}
 .page7-tb2{
 	width: 15%;
 	bottom: 0%;
 	left: 1%;
 	animation: xuanzhuan3 5s linear both infinite;
 	transform-origin: 50% 100%;
 } 
  .page7-tb3{
 	width: 15%;
 	bottom: 0%;
 	left: 20%;
 	animation: xuanzhuan1 4s linear both infinite;
 	transform-origin: 50% 100%;
 } 
  .page7-tb4{
 	width: 20%;
 	bottom: 0%;
 	right: 30%;
 	animation: xuanzhuan3 4s linear both infinite;
 	transform-origin: 50% 100%;
 } 
  .page7-tb5{
 	width: 20%;
 	bottom: 0%;
 	right: 0%;
 	animation: xuanzhuan1 3s linear both infinite;
 	transform-origin: 50% 100%;
 } 
 .page7-tb6{
 	width: 15%;
 	bottom: -2%;
 	right: 5%;
 	animation: right-left2 15s linear both infinite;
 } 
 .page7-tb7{
 	width: 15%;
 	bottom: 30%;
 	left: 10%;
 	animation: up-down5 6s linear both infinite;
 } 
  .page7-tb8{
 	width: 15%;
 	bottom: 25%;
 	right: 2%;
 	animation: yundong 10s linear both infinite;
 } 
 .page7-p1{
 	width: 27%;
 	left: 10%;
 	top: 2%;
 	border-radius: 40px;
 	transform: rotate(5deg);
 	animation: suofang2 3s linear both infinite;
 }
.page7-p2{
	height: 25%;
 	right: 10%;
 	bottom: 40%; 
 	border-radius: 30px;
 	transform: rotate(-8deg);
 	animation: right-left3 5s linear both infinite;
 }
 .page7-text1{   
    top:3%;
    right:2%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:palevioletred;
     animation: yanshe2 5s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
   
  }
   .page7-text2{    
    bottom: 33%;
    right: 8%;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(5deg);
    font-family:castellar  ;
    color:lawngreen;
    text-shadow: 2px 2px 5px darkmagenta;
    animation: right-left3 5s linear both infinite;
  }
  .page7-text3{   
    top:30%;
    left: 20%;
    font-size: 30px;
    font-weight: bold;
    font-family:"楷体";
    transform: rotate(-5deg);
    color:palevioletred;
    text-shadow: 2px 2px 5px darkmagenta;
  }
/*第八页*/
.page8-tb1{
	width: 100%;
	height: 100%;
}
.page8-tb2{
	width: 100%;
	height: 100%;
}
.page8-tb3{
	width: 15%;
	top: 3%;
	left: 5%;
	animation: suofang1 2s linear both infinite;
}
.page8-tb4{
	width: 28%;
	left: 2%;
    top: 22%;
    border-radius: 40px;
    transform: rotate(-5deg);
    animation: suofang2 3s linear both infinite;
}
.page8-tb5{
	width: 20%;
	right: 3%;
	bottom: 3%;
	animation: suofang3 3s linear both infinite;
	
}
.page8-p1{
	width: 30%;
	left: 30%;
    bottom:10% ;
    border-radius: 20px;
    transform: rotate(5deg);
    animation: xuanzhuan1 3s linear both infinite;
    transform-origin: 50% 100%;
}
.page8-p2{
	width: 30%;
	left: 2%;
	top: 20%;
	border-radius: 40px;
	transform: rotate(-5deg);
    animation: suofang2 3s linear both infinite;
	
}
.page8-text1{   
    top:5%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:palevioletred;
    transform: rotate(4deg);
    text-shadow: 2px 2px 5px darkmagenta;
   
   
  }
   .page8-text2{    
    top: 15%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑"  ;
    color:orangered;
    transform: rotate(-4deg);
    text-shadow: 2px 2px 5px darkmagenta;
   
  }
  .page8-text3{   
    top:30%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:salmon;
       transform: rotate(4deg);
    text-shadow: 2px 2px 5px darkmagenta;
    
  }
  .page8-text4{   
    top:40%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:yellowgreen;
    transform: rotate(-4deg);
    text-shadow: 2px 2px 5px darkmagenta;
  
   
  }
  .page8-text5{    
    top: 50%;
    right: 5%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑" ;
    color:purple;
      transform: rotate(4deg);
    text-shadow: 2px 2px 5px darkmagenta;
    
  
  }
  .page8-text6{   
    top:60%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:springgreen;
       transform: rotate(-4deg);
    text-shadow: 2px 2px 5px darkmagenta;
    
  }
   .page8-text7{   
    bottom:43%;
    left: 10%;
    font-size: 40px;
    font-weight: bold;
    font-family:"楷体";
    transform: rotate(-5deg);
    color:aqua;
    text-shadow: 2px 2px 5px darkmagenta;
  }
   .page8-text8{   
    bottom:2%;
    left: 28%;
    font-size: 40px;
    font-weight: bold;
    font-family:"楷体";
    transform: rotate(-5deg);
    color:deeppink;
    text-shadow: 2px 2px 5px darkmagenta;
  }
  /*第九页*/
.page9-tb1{
	width: 100%;
	height: 100%;
}
.page9-p1{
	width: 30%;
	height: 28%;
	left: 15%;
	bottom: 20%;
	border-radius: 30px;
	animation: xuanzhuan3 5s linear both infinite;
	transform-origin: 0% 100%;
}
.page9-tb2{
	width: 15%;
	top: 3%;
	left: 5%;
	animation: right-left4 10s linear both infinite;
}
.page9-tb3{
	width: 28%;
	left: 10%;
    top: 22%;
    border-radius: 40px;
    transform: rotate(-5deg);
    animation: suofang1 3s linear both infinite;
}
.page9-tb4{
	width: 25%;
	right: 10%;
	bottom: 3%;
	animation: suofang3 3s linear both infinite;
	
}
.page9-text1{   
    top:5%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:palevioletred;
    transform: rotate(4deg);
    animation: suofang1 3s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
   
   
  }
   .page9-text2{    
    top: 15%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑"  ;
    color:palegreen;
    transform: rotate(-4deg);
    animation: xuanzhuan2 4s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
   
  }
  .page9-text3{   
    top:35%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:salmon;
    transform: rotate(4deg);
    animation: xuanzhuan1 4s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
    
  }
  .page9-text4{   
    top:50%;
    right: 8%;
    font-size: 35px;
    font-weight: bold;
    font-family: "微软雅黑";
    color:yellowgreen;
    transform: rotate(-4deg);
    animation: xuanzhuan3 5s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
  }
/*第十页*/
.page10-tb1{
	width: 100%;
	height: 100%;
}
.page10-p1{
	width: 25%;
	height: 25%;
	left: 0%;
}

.page10-p2{
	width: 25%;
	height: 25%;
	left: 25%;
}
.page10-p3{
	width: 25%;
	height: 25%;
	left: 50%;
}
.page10-p4{
	width: 25%;
	height: 25%;
	left: 75%;
}
.page10-p5{
	width: 25%;
	height: 25%;
	right: 0%;
	top: 25%;
}
.page10-p6{
	width: 25%;
	height: 25%;
	right: 0%;
	top: 50%;
}
.page10-p7{
	width: 25%;
	height: 25%;
	right: 0%;
	top: 75%;
}
.page10-p8{
	width: 25%;
	height: 25%;
	left: 50%;
	bottom: 0%;
}

.page10-p9{
	width: 25%;
	height: 25%;
	left: 25%;
	bottom: 0%;
}
.page10-p10{
	width: 25%;
	height: 25%;
	left: 0%;
	bottom: 0%;
}
.page10-p11{
	width: 25%;
	height: 25%;
	left: 0%;
	bottom: 25%;
}
.page10-p12{
	width: 25%;
	height: 25%;
	left: 0%;
	bottom: 50%;
}
.page10-p13{
	width: 50%;
	height: 50%;
	right: 25%;
	bottom: 25%;
}
.page10-text1{   
    top:20%;
    right: 25%;
    font-size: 100px;
    font-weight: bold;
    font-family: "arial rounded mt bold";
    color:palevioletred;
    animation: suofang1 3s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
   
   
  }
  .page10-text2{    
    top: 50%;
    right: 32%;
    font-size: 90px;
    font-weight: bold;
    font-family:"century gothic";
    color:cyan;
   
    animation: xuanzhuan2 4s linear both infinite;
    text-shadow: 2px 2px 5px darkmagenta;
   
  }


.arrow1{
	position: absolute;
	bottom: 40%;
	width: 20%;
	right: -2%;
	transform: rotate(90deg);
	opacity: 0.4;
	animation: up-down 3s linear both infinite;
}
.arrow2{
	position: absolute;
	bottom: 40%;
	width: 20%;
	left: -2%;
	transform: rotate(-90deg);
	opacity: 0.4;
	animation: left-r 3s linear both infinite;
}
.musicbtn{
	position: absolute;
	width: 15%;
	top: 2%;
	right: 2%;
	opacity: 0.5;
	animation: circle 2s linear both infinite;
}
@keyframes circle{
  	from{}
  	to{transform: rotate(360deg);}
  }
@keyframes up-down{
  	0%{}
  	50%{right: 0%;}
  	100%{}
  }
  @keyframes left-r{
  	0%{}
  	50%{left: 0%;}
  	100%{}
  }
  @keyframes circle{
  	from{}
  	to{transform: rotate(360deg);}
  }
  @keyframes left-r{
  	0%{}
  	50%{left: 0%;}
  	100%{}
  }
  @keyframes suofang1{
  	0%{}
  	50%{transform: scale(1.2);}
  	100%{}
  }
   @keyframes xuanzhuan1{
  	0%{}
  	25%{transform: rotate(8deg);}
  	50%{}
  	75%{transform: rotate(-8deg);}
  	100%{}
  }
  @keyframes yundong1{
  	0%{left: 0%;}
  	50%{left:50%;}
  	100%{left: 0%;}
  }
@keyframes yanshe1{
  	0%{color: darkblue;}
  	50%{color:red;}
  	100%{color: orange;}
  }
  @keyframes yundong2{
  	0%{left: 0%;}
  	50%{left:70%;}
  	100%{left: 0%;}
  	}
  @keyframes yanshe2{
  	0%{color: red;}
  	25%{color:fuchsia;}
  	50%{color: blue;}
  	75%{color: saddlebrown;}
  	100%{color: yellow;}
  }
  @keyframes suofang2{
  	0%{}
  	50%{transform: scale(0.9);}
  	100%{}
  }
  @keyframes yanshe3{
  	0%{color: red;}
  	15%{color:black;}
  	30%{color: yellow;}
  	45%{color: green;}
  	60%{color: blue;}
  	75%{color: darkturquoise;}
  	90%{color: darkmagenta;}
  	100%{color: chartreuse;}
  }
  @keyframes up-down2{
  	0%{}
  	50%{top: 10%;}
  	100%{}
  }
   @keyframes yundong{
  	0%{}
  	30%{right: 70%; transform: rotateY(0deg);}
  	40%{ right: 70%; transform: rotateY(180deg);}
  	45%{right: 70%;transform: rotateY(180deg);}
  	80%{right: 2%;transform: rotateY(180deg);}
  	100%{}
  }
  @keyframes up-down3{
  	0%{}
  	50%{bottom: 30%;}
  	100%{}
  }
   @keyframes suofang3{
  	0%{}
  	50%{transform: scale(0.8);}
  	100%{}
  }
   @keyframes xuanzhuan2{
  	0%{}
  	25%{transform: rotate(-5deg);}
  	50%{}
  	75%{transform: rotate(5deg);}
  	100%{}
  }
   @keyframes up-down4{
  	0%{}
  	50%{bottom: 42%;}
  	100%{}
  }
  @keyframes right-left1{
  	0%{}
  	50%{left: 45%;}
  	100%{}
  }
   @keyframes up-down5{
  	0%{}
  	50%{bottom: 60%;}
  	100%{}
  }
  @keyframes right-left2{
  	0%{}
  	50%{right: 80%;}
  	100%{}
  }
   @keyframes xuanzhuan3{
  	0%{}
  	25%{transform: rotate(10deg);}
  	50%{}
  	75%{transform: rotate(-10deg);}
  	100%{}
  }
  @keyframes right-left3{
  	0%{}
  	50%{right: 30%;}
  	100%{}
  }
   @keyframes right-left4{
  	0%{}
  	50%{left: 57%;}
  	100%{}
  }