* {
	margin: 0;
	padding: 0;
}

body {
	background: #280000;
}

.backpic {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	opacity: 0.7;
}

a {
	text-decoration: none;
}

.box {
	width: 800px;
	height: 300px;
	position: absolute;
	bottom: 40%;
	left: 22%;
	/*right: 0;*/
	/*margin: auto;*/
}

.box .link {
	width: 200px;
	height: 200px;
	margin: 0 20px;
	float: left;
}

.music {
	position: absolute;
	width: 5%;
	top: 5%;
	right: 3%;
	animation: circle 2s linear both infinite;
}

@keyframes circle {
	from {}
	to {
		transform: rotate(360deg);
	}
}

#loading {
	position: absolute;
	top: 40%;
	left: 43%;
}

.boat{
	width: 300px;
	height: 60px;
	position: absolute;
	bottom: 0%;
	right: 5%;
	background-color: none;
	overflow: visible;
}

.boat img{
	width: 100%;
	height: 100%;
	position: absolute;
}

/****************************原*********************************/

.link-mission .icon {
	/*图片源    不重复    左右居中    上下居中*/
	background: url(../material/开始界面/tubiao2.png) no-repeat center center;
	background-size: 150px;
}

.link-play .icon {
	background: url(../material/开始界面/tubiao1.png) no-repeat center center;
	background-size: 150px;
}

.link-touch .icon {
	background: url(../material/tubiao3.png) no-repeat center center;
	background-size: 150px;
}

.link .icon {
	width: 100%;
	height: 180px;
	/*块状显示*/
	display: block;
	transition: 0.5s ease;
}

.box .icon:hover {
	transform: translateY(-30px) scale(1.1);
}

.button {
	width: 180px;
	height: 60px;
	display: block;
	border: 2px solid rgba(255, 255, 255, 0.8);
	margin: 60px auto;
	line-height: 55px;
	color: #2dcb70;
	/*加粗*/
	font-weight: bolder;
	font-size: 1.7em;
	font-family: "STXinwei";
	padding-left: 15px;
	/*维持宽高不变*/
	box-sizing: border-box;
	background: url(../img/allow.png) no-repeat 130px center;
	position: relative;
	transition: 0.5s ease;
}

.button:hover {
	border: 3px solid rgba(255, 255, 255, 1);
	/*背景图片的位置*/
	background-position: 140px center;
}

.button .line {
	display: block;
	position: absolute;
	background: none;
	transition: 0.5s ease;
}

.button:hover .line {
	background: white;
}

.line-top {
	width: 180px;
	height: 2px;
	top: -2px;
	left: -120%;
}

.button:hover .line-top {
	width: 100%;
	left: 0;
}

.line-right {
	width: 2px;
	height: 60px;
	right: -2px;
	top: -120%;
}

.button:hover .line-right {
	height: 100%;
	top: 0;
}

.line-bottom {
	width: 180px;
	height: 2px;
	bottom: -2px;
	right: -120%;
}

.button:hover .line-bottom {
	width: 100%;
	right: 0;
}

.line-left {
	width: 2px;
	height: 50px;
	left: -2px;
	bottom: -120%;
}

.button:hover .line-left {
	height: 100%;
	bottom: 0;
}
